.column{	
	float: left;
    padding: 5px;
	vertical-align: middle;
}

#left{
	width: 30%;
	margin-left: 5%;
	margin-top: 6%;
}

#mid{
	width: 18%;	
	margin-top: 12%;
}

#right{
	width: 40%;
	margin-top: 4%;
	
}

#left img{
	width: 90%;
	border-radius: 50%;
}

h3{
	text-shadow:2px 2px 3px #66fcf1;
}

img{
	border: 10px solid #45A29E;
}

/* ============================================
	Mobile Devices: 0 - 500 pixels
   ============================================
*/
@media only screen and (max-width:500px){
	#left, #mid, #right{
	    margin-left: 0;
		width:100%;
		text-align: center;
	}

	#mid, #right{
	    margin-top: 0;
    }
}
