*{
	text-align: center;
	font-family: 'Bungee Inline', 'Raleway', Tahoma, Geneva, sans-serif;
}

h2{
	font-size: 5em;
	margin: 0px;
	color: white;
	text-shadow: 10px 10px 12px #45A29E;
}

img{
	width: 20%;
	flex: 1 1 20%;
}