*{
	text-align: center;
	font-family: 'Bungee Inline', 'Raleway', Tahoma, Geneva, sans-serif;
}

h2{
	font-size: 5vw;
	margin: 0px;
	color: white;
	text-shadow: 10px 10px 12px #45A29E;
}

img{
    border-radius: 50%;
	width: 20%;
	flex: 1 1 20%;
}

/* Mobile & tablet */
@media only screen and (max-width:800px) {
    h2{
        font-size: 10vw;
    }
    img{
        width: 70%;
    }
    article{
        margin-top: 1.5em;
    }
}