@charset "utf-8"

html{
	margin: 0px;
	padding: 0px;
}

header{
	font-family: 'Bungee Inline', 'Raleway', Tahoma, Geneva, sans-serif;
}

body, header, ul, nav{
	width: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', Tahoma, Geneva, sans-serif;
	color: white;
	background-color: #25274D;
	background-image: url("../images/bg.png");    
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/************************ DROPDOWN STYLES *************************/
a{	
	color: #66FCF1;	
	list-style-type: none;
	text-decoration: none;
}

nav li{
	width: 23%;
	float: left;
	padding: 5px;
    font-size: 100%;
	text-align: center;
	letter-spacing: 3px;
    border: none;
    cursor: pointer;
	list-style-type: none;
	background: rgba(255, 255, 255, 0.1);
}

nav .active{
	background: rgba(255, 255, 255, 0.2);
}

nav li:hover{
	color: #45A29E;
}

a:hover{
	color: #45A29E;
}

#content {
	position: relative;  
	width:100%;
	
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(33, 36, 40, 0.9);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}


@media only screen and (max-width:800px) {
	nav li{
	    padding: 0;
	}
}

/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/
@media only screen and (max-width:480px){
	.horizontal{
		-ms-flex-order: 99;
		order: 99;
		float:none;
	}	
	
	.horizontal li{
		width: 100%;
	}

	nav ul{
	    padding: 0;
	}

	nav li{
	    padding: 0;
	}
}
	
	
	
/*	===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
	===================================================
*/
@media only screen and (min-width: 481px){
	.horizontal{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
		flex-direction: row;
		height: 40px;
		width: 100%;
	}
}

.horizontal li{
	flex: 1 1 auto;
}
